<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body>
    
    <div class="w-full h-screen bg-zinc-300 text-white px-10 py-10">
        <a class="text-blue-700 text-3xl" href="/">retune to home</a>
        <h3 class=" text-2xl tracking-tighter mt-3"><%=filename%></h3>
<p><%=data%></p>
    </div>
</body>
</html>